<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <p>This app is created with help of expressJS</p>
  <h4>Follow the below steps:</h4>
  <ol>
    <li>open cmd and come to the last folder</li>
    <li>install express generator globally once per machine</li>
    <ul>
      <li>npm i express-generator -g</li>
    </ul>
    <li>select a specific folder directly write below line to create express app</li>
    <ul>
      <li>express "app-name" --view=ejs</li>
    </ul>
    <li>then follow these steps:
      <ul>
        <li>select the app folder which created - cd/app-name</li>
        <li>install node - npm i</li>
        <li>open with vs code - code . </li>
      </ul>
    </li>

  </ol>
</body>

</html>